AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OWNER_GOOGLE_EMAILS="owner@example.com,backup-owner@example.com"

DATABASE_URL="postgresql://postgres:pass@localhost:5432/postgres"
CRON_SECRET=""
BLOB_READ_WRITE_TOKEN=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SENTRY_DSN=""

SLACK_TIPS_WEBHOOK=""
